/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	width: 100%;
	height: 100%;
	text-align: center;
	background-image: url(../img/background.jpg);
	-webkit-background-size: auto;
	background-size: auto;
}
/*======FONTS*====*/
@font-face {
    font-family: America; /* Имя шрифта */
    src: url(../fonts/america.otf); /* Путь к файлу со шрифтом */
   }
.wrapper{
	width: 900px;
	height: 100%;
	margin: auto auto;
}
#logo{
	margin-left: 3%;
}
/*==========main page=============*/
.main_page{
	background-color: black;
	opacity: 0.7;
	margin: auto;
}
	.menu_button, .main_page_li{
		font-family: America;
		font-size: 40px;
		list-style-type: none;
		padding-top: 4%;
	}
		.menu__button, a{
			text-decoration: none;
			color: #990000;
			text-shadow: 1px 1px 2px black, 0 0 1em red;
		}
				.menu__button, a:hover{
				text-decoration: none;
				color: #ff0000;
			}
				.market:active{
					margin-left: 5px;
				}
				.networks:active{
					margin-left: 5px;
				}
				.news:active{
					margin-left: 5px;
				}
				.about:active{
					margin-left: 5px;
				}
/*================market===========*/
.all__place{
	opacity: 0.5;
	padding-bottom: 60px;
}
	.places{
		margin-top: 160px;
	}
		.all__place:hover{
			opacity:1;
		}
/*=============media============*/
.img_media{
	zoom: 0.5;
	opacity: 0.3;
	margin-top: 20%;
}
	.img_media:hover{
		opacity: 1;
	}
/*======NEWS===========*/
.sry{
	font-family: America;
	font-size: 90px;
	color: red;
	opacity: 0.6;
	margin-top: 15%;
}
/*===========pages menu========*/
.other_pages{
	display: inline-block;
}
	.other_page{
		font-family: America;
		font-size: 70px;
		display: inline-block;
		padding-left:20px;
	}



	/*-----------TEST-----------*/
.one_tovar{
	margin-top: 100px;
}
	.opisanie{
		margin-top: 150px;
		margin-left: -200px;
	}
	.opi{
		color: red;
		font-size: 35px;
		font-family: America;
	}
	